
/*.adventure {*/
/*    position: relative; !* Make the container the reference point for absolute positioning *!*/
/*    width: 100%; !* Set the width of the container *!*/
/*    height: 500px; !* Set a height for the container *!*/
/*}*/
.adventure {
    top: 0; /* Distance from the top of the viewport */
    left: 0; /* Distance from the left of the viewport */
    height: 60%;
    width: 100%;
}

img {
    /*position: absolute;*/
    width: 25%; /* Set a fixed width for the images */
    height: auto; /* Maintain aspect ratio */
}

.aerial_soundwaves {
    top: 30%; /* Offset image 1 from the top */
    left: 15%; /* Offset image 1 from the left */
}

.bit_rate {
    top: 10%; /* Offset image 2 from the top */
    left: 75%; /* Offset image 2 to the right of image 1 */
}

.neural_net {
    top: 30%; /* Offset image 2 from the top */
    left: 60%; /* Offset image 2 to the right of image 1 */
}