body {
    font-family: Helvetica, sans-serif;
    background-image: url("../images/PFO_background_flipped.jpg");
    background-attachment: fixed;
    background-size: cover;
    background-position: center;
    color: #f5d899;
    text-shadow: 1px 1px 3px black;
    margin: 0;
}

hr {
    display: block;
    margin-top: 0.5em;
    margin-bottom: 0.5em;
    margin-left: auto;
    margin-right: auto;
    border-width: 1px;
    width: 50%;
  }

/* header {
    display: flex;
    display: -webkit-flex;
    justify-content: space-around;
    flex-wrap: wrap;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    background-color: rgba(255, 255, 255, 0.459);
} */

html {
    position: relative;
    min-height: 100%;
}

footer {
    color: lightgray;
    text-align: center;
    overflow: hidden;
    width: 100%;
}

footer a {
    color: inherit;
}

.content {
    margin-right: auto;
    padding-top: 2em;
    margin-left: calc(160px + 2em);
    display: flex;
    flex-direction: column;
    min-height: calc(100vh - 2em);
}

@media screen and (max-width: 730px) {
    .content {
        margin-left: auto;
        margin-right: auto;
    }
}

@media screen and (max-width: 730px) {
    #bitrate {
        padding-right: 0;
        max-width: 100%;
    }
}


.content > div {
    flex-grow: 1;
}

.content h1 {
    text-align: center;
}

.topbar {
    height: 100%;
  width: 160px;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: #111;
  overflow-x: hidden;
  padding-top: 20px;
}

@media screen and (max-width: 730px) {
    .topbar {
        display: flex;
        display: -webkit-flex;
        justify-content: space-around;
        max-width: 1000px;
        margin-left: auto;
        margin-right: auto;
        height: auto;
        width: 100%;
        flex-direction: column;
        position: unset;
    }
}

.topbar a:hover {
    color: #f39ccc;
}

.menu {
    padding-top: 20px;
}

@media screen and (max-width: 730px) {
    .menu {
        padding-top: 0;
    }
}

.logo {
    text-align: center;
}

nav {
    flex-grow: 1;
    display: flex;
    justify-content: flex-end;
    flex-wrap: wrap;
    flex-direction: column;

    min-width:100px;
    text-align:center;
    align-items: center;
}

@media screen and (max-width: 730px) {
    nav {
        flex-direction: row;
        justify-content: center;
    }
}

a {
    color: #375fda;
}

nav a
{
    padding: 6px 8px 6px 8px;
  text-decoration: none;
  font-size: 25px;
  color: #a1a1a1;
  display: block;
}

div a {
    color: #f17bac;
    font-weight: bold;
}

footer a {
    color: lightgray;
    font-weight: 400;
}

p, li {
    font-size: 1.2em;
}

a.discord
{
    font-size:30pt;
    color:#FFFFFF;
    background-color: #7289DA;
    text-decoration:none;
    background-image: url(/images/discord.png);
    background-size: contain;
    background-repeat: no-repeat;
    border-radius: 5px;
    width: 180px;
    height: 60px;
    display: inline-block;
}

a.discord-icon
{
    font-size:30pt;
    text-decoration:none;
    background-image: url(/images/discord-icon.png);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    border-radius: 5px;
    width: 50px;
    height: 50px;
    margin: 5px;
    display: inline-block;
}


.panelist {
    margin: 0;
    font-style: italic;
}

.guest {
    background-color: #e5ebff;
    border-radius: 5px;
    padding: 20px;
    padding-top: 1px;
    margin-bottom: 30px;
}

.guest h2:last-child {
    margin-bottom: 0;
}

.guest-desc {
    display: flex;
}

.guest-desc p:first-child {
    margin-top: 0;
}

.guest-desc p:last-child {
    margin-bottom: 0;
}

.headshot {
    padding-right: 20px;
}

.headshot img {
    max-height: 350px;
    max-width: 200px;
    border-radius: 3px;
}

.staff-list h2 {
    margin-top: 0;
}

#schedule-frame {
    width: 100%;
    height: 1500px;
}

.panel-list h2 {
    margin-bottom: 0;
}

