
@import url("//fonts.googleapis.com/css?family=Oswald:400,700,400italic,700italic");

body {
    font-family: Oswald;
    background-image: url("/images/pvfmpfo_2026_bg.svg");
    background-color: #14065b;
    color: #ffffff;
}

:root {
    /* Override the logo SVG */
    --logo-color: #ffffff;
    --logo-fill: #ffffff;
}


.front-page-container {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
}

.text-box {
    border: 1px solid #000000;
    background-color: #6805bd;
    color: #ffffff;
    border-radius: 5px;
    padding: 20px;
}


.content h1 {
    color: #ffffff;
    -webkit-text-stroke: 4px #000;
    paint-order: stroke fill;
}

.text-box h1 {
    color: #ffffff;
}

.content h2 {
    color: #ffffff;
    -webkit-text-stroke: 4px #000;
    paint-order: stroke fill;
}

.text-box h2 {
    color: #ffffff;
}

.content h3 {
    color: #ffffff;
}

.topbar {
    background-color: #000000;
}

/* .topbar a:hover {
    color: #e200a7;
} */




.content h1 {
    color: #ffffff;
    -webkit-text-stroke: 4px #000;
    paint-order: stroke fill;
}
a {
    color: #ffffff;
    -webkit-text-stroke: 2px #000;
    paint-order: stroke fill;
}

p {
    -webkit-text-stroke: 2px #000;
    paint-order: stroke fill;
}

nav a
{
    color: #ffffff;
}

.guest {
    background-color: #e5ebff;
}

.schedule-room-cell {
    color: #ffffff;
}

.shirt-link {
    color: #e81767;
}

/* This was a painful tweak XD */
.shirt-link:hover,
.topbar .shirt-link:hover,
.shirt-link a:hover,
.topbar .shirt-link a:hover {
    color: #e2d700;
}
