<header class="topbar closed">
    <div class="top">
        <div class="logo img">
            <a style="pointer-events: fill; display: flex; justify-content: center; align-items: center;" href="/">
            <object class="svgClass" type="image/svg+xml" data="{{ $.Site.BaseURL }}images/PonyFestLogoFlat.svg"></object>
            </a>
<!--                <script type="text/javascript">document.querySelector(".svgClass").contentDocument.getElementById("svgInternalID").setAttribute("style", "fill: blue; stroke: black")</script>-->
<!--                <svg> <use xlink:href="{{ $.Site.BaseURL }}images/PonyFestLogoFlat.svg#logo"></use></svg>-->
        </div>
        <div class="button-container" style="width: 74px; text-align: center">
            <button class="button-menu">Menu</button>
        </div>
    </div>
    <nav class="menu">
<!--        <p>Stay tuned for updates</p>-->
        <!--<p>Applications are open!!!</p>-->
        <a target="_blank" rel="noopener noreferrer" href="https://forms.gle/vAvUJLd7aXecDBNR6">Musician App</a>

<!--        <a target="_blank" rel="noopener noreferrer" href="https://docs.google.com/forms/d/e/1FAIpQLSczAxy9dESWLDeuL8pn4l5Y0poZBqnlbZ92Fk7pgrFE7tnWDQ/viewform">Panel Apps</a>-->
<!--        <a target="_blank" rel="noopener noreferrer" href="https://docs.google.com/forms/d/e/1FAIpQLSetBbb7YJnTD7xgaFul98YgxvDnPJOGGmA9SAlloW_b8i36VQ/viewform">Vendor Hall App</a>-->

<!--        <a target="_blank" rel="noopener noreferrer" href="https://docs.google.com/forms/d/e/1FAIpQLSe5Dw9JSrL3j9iTOmciZBxsdssPyRVaA91p0osTwrMyIBXXXA/viewform?usp=sf_link">Tabletop Community-Organized Game Submissions</a>-->
<!--        <a target="_blank" rel="noopener noreferrer" href="https://docs.google.com/forms/d/e/1FAIpQLSd08Q3NTFMNUiqVP4GoYxbyShw-6ZZ30A47EHsFfyD2pmrmHg/viewform?usp=sharing">Cosplay Contest Registration</a>-->
<!--        <a href="https://tiltify.com/@ponyfest/ponyfest-online-6-hearths-warming-food-drive"style="font-weight: bold; color: green">Charity Food Drive!!!</a>-->
<!--        <a href="{{ $.Site.BaseURL }}aerial-soundwaves-stage">Aerial Soundwaves's Stage</a>-->
<!--        <p class="menu-room-current-event" data-room="Aerial Soundwaves's Stage"></p>-->
<!--        <a href="{{ $.Site.BaseURL }}bit-rate" style="font-weight: bold;">Bitrate Stream</a>-->
<!--        <p class="menu-room-current-event" data-room="Bit Rate's Stage"></p>-->
<!--        <a href="{{ $.Site.BaseURL }}neural-net"style="font-weight: bold;">Neuralnet Stream</a>-->
<!--        <p class="menu-room-current-event" data-room="Neural Net's Stage"></p>-->
<!--        <a href="{{ $.Site.BaseURL }}schedule">Schedule</a>-->
<!--        <a href="{{ $.Site.BaseURL }}musicians">Musicians</a>-->
<!--        <a href="{{ $.Site.BaseURL }}vendors">Vendors</a>-->
<!--        <a href="{{ $.Site.BaseURL }}charity">Charity</a>-->
<!--        <a href="{{ $.Site.BaseURL }}shirt">Charity Shirt</a>-->
<!--        <a target="_blank" rel="noopener noreferrer" href="https://event.pony.town">Pony Town</a>-->
        <!-- <a href="https://store.ponyfest.horse">Autograph Store</a>-->
        <!-- <a href="{{ $.Site.BaseURL }}aerial-soundwaves-stage">Aerial Soundwaves's Stage</a>
                        <p class="menu-room-current-event" data-room="Aerial Soundwaves's Stage"></p> -->
        <!--<a href="{{ $.Site.BaseURL }}bit-rates-stage">Bit Rate's Stage</a>-->
        <!-- <a href="{{ $.Site.BaseURL }}neural-nets-stage">Neural Net's Stage</a>
                <p class="menu-room-current-event" data-room="Neural Net's Stage"></p>
                <a href="{{ $.Site.BaseURL }}renegade-stage">Renegade Stage</a>
                <p class="menu-room-current-event" data-room="Renegade Stage"></p>-->
        <!-- <a href="{{ $.Site.BaseURL }}art-theater">Art Theater</a>-->
        <!-- <p class="menu-room-current-event" data-room="Art Theater"></p>-->
        <!-- <a href="{{ $.Site.BaseURL }}e-gaming">E-Gaming Streams</a>-->


        <a href="{{ $.Site.BaseURL }}about">About</a>
        <a rel="me" href="https://twitter.com/PonyFestOnline">Twitter</a>
        <a rel="me" href="https://bsky.app/profile/ponyfest.horse">Bluesky</a>
        <a rel="me" href="https://equestria.social/@PonyFest">Mastodon</a>
        <a href="https://discord.gg/nSDGJCg" class="discord-icon" style="margin-top: 10px;"></a>
    </nav>
</header>
