<header class="topbar closed">
    <div class="top">
        <div class="logo">
            <a href="/"><img src="{{ $.Site.BaseURL }}images/logo-white.png"></a>
        </div>
        <div class="button-container" style="width: 74px; text-align: center">
            <button class="button-menu">Menu</button>
        </div>
    </div>
    <nav class="menu">
        <!--<p>Applications are open!!!</p>-->
<!--        <a target="_blank" rel="noopener noreferrer" href="https://docs.google.com/forms/d/e/1FAIpQLScxUeLzNwpqIsiz-4LPun3FS0H8skd-WTbnGmsUCBoZpMgOMg/viewform?usp=sf_link">Panel Apps</a>-->
<!--        <a target="_blank" rel="noopener noreferrer" href="https://forms.gle/xTP6wBQLY7L1snTY8">Vendor Hall App</a>-->
<!--        <a target="_blank" rel="noopener noreferrer" href="https://docs.google.com/forms/d/e/1FAIpQLSdO8KIUywonQY1hCx068Go_R5Ps-s6_dUbLd6Ebk38hSghIeg/viewform?usp=sharing">Musician App</a>-->
<!--        <a target="_blank" rel="noopener noreferrer" href="https://docs.google.com/forms/d/e/1FAIpQLSe5Dw9JSrL3j9iTOmciZBxsdssPyRVaA91p0osTwrMyIBXXXA/viewform?usp=sf_link">Tabletop Community-Organized Game Submissions</a>-->
<!--        <a target="_blank" rel="noopener noreferrer" href="https://docs.google.com/forms/d/e/1FAIpQLSd08Q3NTFMNUiqVP4GoYxbyShw-6ZZ30A47EHsFfyD2pmrmHg/viewform?usp=sharing">Cosplay Contest Registration</a>-->
<!--        <a href="https://tiltify.com/@ponyfest/ponyfest-online-6-hearths-warming-food-drive"style="font-weight: bold; color: green">Charity Food Drive!!!</a>-->
        <a href="{{ $.Site.BaseURL }}bit-rate" style="font-weight: bold;">Bitrate Stream</a>
        <p class="menu-room-current-event" data-room="Bit Rate's Stage"></p>
<!--        <a href="{{ $.Site.BaseURL }}neural-net"style="font-weight: bold;">Neuralnet Stream</a>-->
<!--        <p class="menu-room-current-event" data-room="Neural Net's Stage"></p>-->
<!--        <a href="{{ $.Site.BaseURL }}vendors">Vendors</a>-->
<!--        <a href="{{ $.Site.BaseURL }}guests">Guests</a>-->
        <a href="{{ $.Site.BaseURL }}schedule">Schedule</a>
        <!-- <a href="{{ $.Site.BaseURL }}charity">Charity Shirt</a>-->
        <a href="https://event.pony.town">Pony Town</a>
        <!-- <a href="https://store.ponyfest.horse">Autograph Store</a>-->
        <a href="{{ $.Site.BaseURL }}about">About</a>
        <!-- <a href="{{ $.Site.BaseURL }}aerial-soundwaves-stage">Aerial Soundwaves's Stage</a>
                        <p class="menu-room-current-event" data-room="Aerial Soundwaves's Stage"></p> -->
        <!--<a href="{{ $.Site.BaseURL }}bit-rates-stage">Bit Rate's Stage</a>-->
        <!-- <a href="{{ $.Site.BaseURL }}neural-nets-stage">Neural Net's Stage</a>
                <p class="menu-room-current-event" data-room="Neural Net's Stage"></p>
                <a href="{{ $.Site.BaseURL }}renegade-stage">Renegade Stage</a>
                <p class="menu-room-current-event" data-room="Renegade Stage"></p>-->
        <!-- <a href="{{ $.Site.BaseURL }}art-theater">Art Theater</a>-->
        <!-- <p class="menu-room-current-event" data-room="Art Theater"></p>-->
        <!-- <a href="{{ $.Site.BaseURL }}e-gaming">E-Gaming Streams</a>-->

        <a href="https://discord.gg/nSDGJCg" class="discord-icon" style="margin-top: 10px;"></a>
    </nav>
</header>
