<header class="topbar closed">
	<div class="top">
		<div class="logo">
			<a href="/"><img src="/images/logo-white.png"></a>
		</div>
		<div class="button-container" style="width: 74px; text-align: center">
			<button class="button-menu">Menu</button>
		</div>
	</div>
	<nav class="menu">
		<!-- <a href="/mane-events" style="font-weight: bold;">Stream</a> -->
		<!-- <a href="/events">Events</a> -->
		<a href="/vendors">Vendors</a>
		<a href="/guests">Guests</a>
		<a href="/schedule">Schedule</a>
		<!-- <a href="/about">About</a> -->
		<a href="https://discord.gg/nSDGJCg" class="discord-icon" style="margin-top: 10px;"></a>
<!--		<a href="/bit-rates-stage">Bit Rate's Stage</a>-->
<!--		<p class="menu-room-current-event" data-room="Bit Rate's Stage"></p>-->
<!--		<a href="/neural-nets-stage">Nerual Net's Stage</a>-->
<!--		<p class="menu-room-current-event" data-room="Neural Net's Stage"></p>-->
<!--		<a href="/writing-room">Writing Room</a>-->
<!--		<p class="menu-room-current-event" data-room="Writing Room"></p>-->
	</nav>
</header>