<div class="guest-container">
{{ range $.Site.Data.guests.guests }}
    <div class="text-box" style="margin-bottom: 20px; text-align: left">
        <h1>{{ .Name }}</h1>
        <p><img src="{{ .Image }}" style="max-height: 350px; max-width: 250px; float: left; padding-right: 1.25em; padding-bottom: 1.25em">{{ .Desc }}</p>
        <p class="guest-links" style="margin: 5px">
            {{ range $key, $value := .Social }}<a href="{{ $value }}">{{ $key }}</a>{{ end }}
        </p>
    </div>
{{ end }}
</div>