<div class="guest-container">
{{ range $.Site.Data.guests.guests }}
    <div class="text-box guest-{{ .Type }}" style="margin-bottom: 20px">
        <h1>{{ .Name }} {{ if .Autographs }}(<a href="{{.Autographs}}">Autographs</a>){{end}}</h1>
        <p class="guest-image">
            <img  src="{{ .Image }}" >
        </p>
        <p class="guest-text">
            {{ replace .Desc "\n" "<br>" | safeHTML }}
        </p>
        <p class="guest-links" style="margin: 5px">
            {{ range $key, $value := .Social }}<a href="{{ $value }}">{{ $key }}</a>{{ end }}
        </p>
    </div>
{{ end }}
</div>